sudo: required
services: 
  - docker

before_install:
  - docker build -t rodriggj/frontend -f ./frontend/Dockerfile.dev .

script: 
  - docker run -e CI=true rodriggj/frontend npm run test -- --coverage